<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user_signin.css">       
    <title>Document</title>
</head>
<body>
    <div id="main-container-signin">
        <div id="sign-in-instruction"><h1>Existing User ! Sign In</h1></div>
        <div id="form-container-signin">
            <ul>
                <form action="/users/create-session" method="POST">
                    <li>
                        <input type="email" name="email" placeholder="Email"  required>
                    </li>
                    <li>
                        <input type="password" name="password" placeholder="Password"  required>
                    </li>
                    <li>
                        <input id="input-button" type="submit" value="Sign In">
                    </li>
                    <li>
                        <h2 id="signup-link">Not a user? <a href="/users/sign-up">SignUp</a></h2>
                    </li>
                </form>
            </ul>
        </div>
    </div>    
</body>
</html>