<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="mainContainer">
        <div><h1>SignUP</h1></div>
        <div id="form-container">
            <ul>
                <form action="/users/create" method="POST">
                    <li>
                        <input type="text" name="name" placeholder="Your Name" required>
                    </li>
                    <li>
                        <input type="email" name="email" placeholder="Your Email" required>
                    </li>
                    <li>
                        <input type="password" name="password" placeholder="Your Password" required>
                    </li>
                    <li>
                        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                    </li>
                    <li>
                        <input type="submit" value="Sign Up">
                    </li>
                </form>
            </ul>
        </div>
    </div>
</body>
</html>