:root{
    --btn-bg-light: linear-gradient(to left, #f9f7f7, #faeff2, #f8e8f3, #f0e3f6, #e2dffb, #e4dcfb, #e6dafb, #e8d7fa, #fdd5ec, #ffd6dc, #ffdacd, #fee2c5);;
    --btn-hov-light: linear-gradient(to right, #f9f7f7, #faeff2, #f8e8f3, #f0e3f6, #e2dffb, #e4dcfb, #e6dafb, #e8d7fa, #fdd5ec, #ffd6dc, #ffdacd, #fee2c5);
}
#main-container{
    width: 90%;
    background-color: aliceblue;
    margin-left: 5%;
}
#welcome-div{
    height: 10%;
    background-color: white;
    padding-left: 1%;
    padding-top: 1px;
}

/* ------------------------ADD Employee Container------------------------ */

#form-container-addEmp{
    height: 10%;
    margin-bottom: 15px;
    border: 2px solid #d8e8ff;
    padding-bottom: 2%;
    /* background-color: #250060; */
    background-image: linear-gradient(to right, #051937, #00194b, #00175d, #00116e, #00007c);
    
}
#form-container-addEmp li{
    list-style-type: none;
}
.input-add-emp{
    width: 20%;
    padding: 8px;
    float: left;
    font-size: 16px;
    border-radius: 15px;
    margin-left: 1%;
    margin-top: 10px;
}
#input-add-emp-button{
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    margin-left: 1%;
    margin-top: 10px;
    border: 2px solid #ffffff;
    background-image: var(--btn-bg-light)
}
#input-add-emp-button:hover{
    color: #235cab;
    border: 2px solid #250060;
    background-image: var(--btn-hov-light)
}
/* ---------------------------------Employee Table Container----------------- */
#user-list-container{
    padding-left: 10%;
    padding-bottom: 5%;
    padding-top: 1%;
}
#user-list-container table{
    margin-top: 3%;
    width: 90%;
    border-collapse: collapse;
    font-size: large;
}
#user-list-container tr{
    background: #d8e8ff8e;
    text-align: center;
    border: 1px solid #250060
}
/* td{
    padding-bottom: 20px;
} */
#user-list-container th{
    /* padding-top: 5px; */
    color: #ffffff;
    padding: 5px;
    background-color: #00007c;
}

.admin-btn{
    background-color: #235cab;
    color: #ffffff;
    font-weight: bold;

    padding: 6px;
    border-radius: 5px;
    /* margin-left: 1%; */
    margin-top: 10px;
    margin-bottom: -8px;
    border: 2px solid #235cab;
}
.admin-btn:hover{
    background-image: linear-gradient(to right, #103f86, #5a3b88, #873480, #a92f6e, #c03556);
    color: #ffffff;
    border: 2px solid #ffffff;
}

/* ---------------------------Review Assign Container--------------------------- */

#review-container{
    /* background-color: #250060; */
    background-image: linear-gradient(to right, #051937, #00194b, #00175d, #00116e, #00007c);
    height: 15%;
    margin-bottom: 15px;
    border: 2px solid #d8e8ff;
    padding-bottom: 4%;    
    color: #ffffff;
    text-align: center;
}
.select-user{
    width: 22%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 2%;
    margin-top: 8px;
}

#input-assign-button{
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    margin-top: 10px;
    background-image: var(--btn-bg-light)
}
#input-assign-button:hover{
    color: #235cab;
    border: 2px solid #250060;
    background-image: var(--btn-hov-light)
}


/* ---------------------------Review TABLE Container--------------------------- */

#performance-table{
    padding-left: 10%;
    padding-bottom: 5%;
    padding-top: 1%;
    
}
#performance-table table{
    margin-top: 3%;
    width: 90%;
    border-collapse: collapse;
    font-size: large;
}
#performance-table table th{
    color: #ffffff;
    padding: 5px;
    background-color: #00007c;
}
#performance-table table td{
    padding: 15px;
}
#performance-table table tr{
    background: #d8e8ff8e;
    text-align: center;
    border: 1px solid #00007c;
}
.select-user{
    width: 22%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 2%;
    margin-top: 8px;
}

