body{
    background: aliceblue;
}
#main-container-signin{
    height: 45vh;
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    border: 2px solid #889ab3;
    border-radius: 10px;
    background: url(/img/loginlogo.svg);
    background-attachment: scroll;
    background-size: 44.5%;
    /* background-size: auto; */
    background-repeat:no-repeat;
    background-position: right;
    /* background: aliceblue; */
}

#form-container-signin{
    width: 100%;
}
#form-container-signin li{
    list-style-type: none;
}

input{
    width: 50%;
    padding: 16px;
    float: left;
    font-size: 16px;
    border-radius: 15px;
    margin-right: 4.5rem;
    margin-left: 10%;
    margin-top: 10px;
}
#input-button{
    padding: 8px 16px 8px 16px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 22.5%;
    background-color: #250060;
    /* float: left; */
    width: 25%;

}

#signup-link{
    width: 50%;
    padding: 16px;
    float: left;
    /* font-size: 16px; */
    border-radius: 15px;
    margin-right: 4.5rem;
    margin-left: 0%;
    margin-top: 10px;
}
#sign-in-instruction{
    margin-left: 5%;
}